body{ 
    font-family: 'Times New Roman', Times, serif; 
    margin: 20px; 
    background-color: lightgreen;
    color: blue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
h1 {
    color: red;
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}
p {
    font-size: 16px;
    line-height: 1.6;
}
pre{
   color: red;
    background-color: aqua;
    padding: 10px;
    border-radius: 5px; 
}
